body {
	color: black;
    background-color: white;
}

h1 { 
   text-align: center;
	color: black;
     border-style: solid;
     border-width: medium;

}
div {
	text-align: center;
    text-transform: capitalize;
     text-shadow: 10px 7px black;
    font-size: 34px;
}

label{
	display: block;
    text-align: left;
    width: 700px;
}
	
button{
   
  padding: $content-padding;
  position: fixed;
  bottom:0;
  left: 100;
  right: 100;
}

